<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Simps Quiz</title>

  <!--External CSS-->
  <link href="https://fonts.cdnfonts.com/css/homer-simpson-revised" rel="stylesheet">


 <!--EXTERNAL JS-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
 integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
 crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--App CSS-->
  <link rel="stylesheet" href="/styles/_nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />

</head>

<body>
  <%- include('partials/_navbar') %>


    <!--Page specific Content-->
    <main id="content-container">
      <h1>Test your Simpsons Knowledge!</h1>

      <div class="table">
        <div class="quiz-row" id="header-row">
          <span>
            <div class="cell">TITLE</div>
            <div class="cell">CREATOR</div>
            <div class="cell" id="description-cell">DESCRIPTION</div>
          </span>
        </div>
        <span class="cell link">COPY URL</span>


        <% for (let key in quizzes) { %>
          <a href="/quiz/<%= quizzes[key].id %>" class="quiz-row">
            <span class="test">
              <div class="cell">
                <%= quizzes[key].title %>
              </div>
              <div class="cell">
                <%= quizzes[key].fullname %>
              </div>
              <div class="cell" id="description-cell">
                <%= quizzes[key].description %>
              </div>
            </span>
            <div class="cell">
              <span href="/quiz/<%= quizzes[key].id %>">
              </span>
            </div>
          </a>
          <button class="btn btn-primary"><i class="fa-solid fa-copy"></i></button>
            <% } %>
      </div>
    </main>
    <footer>
      <img id="footer-pic" src="https://i.imgur.com/I6i6QM1.png" alt="footer logo">
    </footer>

</body>


</html>
