<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta name="description" content="This is a quiz designed for basic HTML, CSS, and JavaScript basics.">

  <title>Simps Quiz Time</title>

  <!--App CSS-->
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


</head>

<body>
  <%- include('partials/_header') %>
    <header>
      <section class="quiz-info">
        <h1>Homer's Quiz</h1>
      </section>
    </header>

    <main>
      <article class="quiz-container">

        <section>
          <p>Created by: <%=quiz.name%>
          </p>
          <div>
            <p><%= quiz.description%></p>
          </div>
        </section>
        <section class="question-wrapper">
          <p class="question">
            <%= quiz.question_content%>
          </p>
        </section>
        <form class="begin answer-wrapper">
          <p class="correct-answer">A) <%= quiz.correct_answer%>
          </p>
          <p class="wrong-answer1">B) <%= quiz.incorrect_1%>
          </p>
          <p class="wrong-answer2">C) <%= quiz.incorrect_2%>
          </p>
          <p class="wrong-answer3">D) <%= quiz.incorrect_3%>
          </p>
          <button type="button" class="submit-answer" disabled>Submit</button>
        </form>

      </article>
    </main>

    <footer>
      <section>
        <p class="progress-fill">
          Progress: <span class="progress-count">1 / 10</span>
        </p>
      </section>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>
